<%= form_for(@post, local: true, url: {action: check_action}) do |form| %>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post <%= modal_name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="actions">
            <div class="form-group row">
              <%= form.label :name, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= form.text_field :name, class: 'form-control', maxlength: Category::NAME_MAX_SIZE %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :content, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= form.text_area :content, class: 'form-control', maxlength: Post::CONTENT_MAX_SIZE %>
              </div>
            </div>

            <% if @post.file.present? %>
              <div class="form-group row">
                <%= form.label t(:current_file), class: 'col-sm-3 col-form-label' %>
                <div class="col-sm-9 buffer-top">
                  <%= link_to t(:file), @post.file.url, target: '_blank', id: 'current_file' %>
                </div>
              </div>
            <% end %>

            <div class="form-group row">
              <%= form.file_field :file, value: 'asd', class: 'col-sm-6 col-form-label' %>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit(class: 'btn btn-primary') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
