<div class="buffer-right-10" id=<%= post.id %> >
  <div class="card border-info mb-3 static-size">
    <div class="card-header">
      <%= link_to post.name.truncate(16), category_post_path(@category, post), class: 'text-primary', title: t(:post_title) %>

      <%= link_to category_post_path(@category, post), method: :delete, class: 'text-dark float-right buffer-left-8',
                  title: t(:delete) do %>
        <i class="fas fa-trash"></i>
      <% end %>

      <%= link_to edit_category_post_path(@category, post), class: 'text-dark float-right', title: t(:edit), remote: true do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <% if post.content.nil? %>
        <p class="card-text"><span>—</span></p>
    <% else %>
        <p class="card-text"><%= post.content.truncate(40) %></p>
    <% end %>
    </div>
  </div>
</div>

