<p id="notice"><%= notice %></p>

<h3><%= link_to "Categories << ", root_path %>
  <%= link_to 'Posts <<', category_path(@post.category_id) %>
  <%= "#{@post.name}" %>
</h3>

<% if @post.content.empty? %>
  <p>—</p>
<% else %>
  <p><%= @post.content %></p>
<% end %>

<% if @post.file.present? %>
  <%= link_to t(:file), @post.file.url, target: '_blank' %>
<% end %>

<%= render partial: 'comments/form', locals: {commentable: [@post.category, @post]} %>

<div id="comments-list">
  <%= render partial: 'comments/comment', collection: @comments %>
</div>

<script>
    var channel = pusher.subscribe('comments-channel-' + 'post-' + '<%= @post.id %>');
    channel.bind('new-comment', function(data) {
        console.log(42);
        let author = data.author;
        let created_at = data.created_at;
        let content = data.content;
        $('#comments-list').prepend(`<hr>
<section class="comment-list">

            <header class="text-left">
            <div class="comment-user"><i class="fas fa-user-ninja"></i> ${author}</div>
            <time class="comment-date"><i class="fa fa-clock-o"></i> ${created_at}</time>
            </header>
            <div class="comment-post">
            <p>${content}</p>
            </div>
            </section>`);
    });
</script>